# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.{cs,cake}]
indent_style = tab
indent_size = 4

charset = utf-8
trim_trailing_whitespace = false

# New line preferences
end_of_line = crlf
insert_final_newline = false